{% extends "HLPNebulaBundle:AdvancedUI:build.html.twig" %}

{% block build_tab %}
    <h5><span class="glyphicon glyphicon-link"></span> Unique build URL</h5>
    <p class="help-block">Copy this line to HLP-Knossos repository settings, or use the client of your choice.</p>
    <input class="form-control" type="text" value="{{ url('hlp_nebula_fs2mod', {'owner': owner.nameCanonical, 'mod': mod.modId, 'branch': branch.branchId, 'build': build.version}) }}.json" readonly>
    <br/>
    <h5><span class="glyphicon glyphicon-paperclip"></span> Raw JSON configuration</h5>
    <pre>{{ data|raw }}</pre>
{% endblock %}
